.menu-home {
  position: relative;
  height: 93vh;
}
.evolve::before {
  content: "EVOLVE";
  display: block;
  font-size: 200px;
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  left: 0;
  top: -0.3em;
  font-weight: 700;
  color: rgb(188, 160, 239);
}

.evolve > EVOLVE {
  z-index: 2;
  position: relative;
}

.evolve {
  position: relative;
  display: flex;
  /* padding: 0px 100px; */
  justify-content: center;
  align-items: center;
  /* margin-bottom: 35px; */
}
.contentHome {
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: relative;
  top: -20px;
}

.appEvogym {
  position: relative;
  top: 90px;
  left: -7px;
  justify-content: start;
  align-items: start;
}

.appEvogym p {
  text-align: left;
  margin-top: 32px;
}

.btn {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.btn p {
  margin-top: 0;
}

.sportPic {
  max-width: fit-content;
}
.femme {
  width: 472px;
  min-width: 380px;
}

.redBull {
  width: 60%;
  padding: 40px 0px;
  margin: 0 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.homeLogo {
  background-color: var(--background);
  position: absolute;
  z-index: 3;
  width: 100%;
  bottom: 0;
}

img {
  max-width: 100%;
}
