
.navbar {
  background: transparent;
  color: var(--color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 24px 0;
  width: 100%;
  z-index: 30;
}

.navbar.active {
  background: var(--background);
  color: var(--colorActive);
  margin: 0;
  /* transition-duration: 0.5s; */
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.header-menu {
  margin-left: auto;
  margin-right: auto;
  width: 83%;
}

.evogym,
.homeMember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  width: 100%;
}

.evogymHome,
.evogymSignIn {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 2em;
}

.evogymHome {
  font-size: var(--font-size);
}

.evogymSignIn {
  font-size: var(--buttonFontSize);
}
